*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    color: $fontColor;
    font-family: $primaryfont;
}

.main{
    width: 100%;
    height: auto;
    background: $primaryBg;

    


    .hero{
        width: 100%;
        height: 100vh;
        padding: 20px 150px;

        background-image: url('/Assets/bg1.png');
        background-position: right;
        background-repeat: no-repeat;
        // background-size: auto;


        .navbar{
            width: 100%;
            height: 100px;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            .logo{
                cursor: pointer;
                margin-right: 50px;
            }

            ul{
                display: flex;
                justify-content: space-between; 
                
                
                li{
                    list-style: none;
                    display: flex;
                    margin-right: 60px;

                    a{
                        text-decoration: none;
                        font-weight: 200;
                        font-size: 20px;
                        display: flex;
                        justify-content: space-between;
                        
                        color: $fontColor;
                        transition: all ease-in 300ms;
                        // color: $accentColor;
                        // font-weight: 350;
                    

                        &:hover{
                            color: $accentColor;
                            // font-weight: 350;
                        }
                    } 
                }    
                
            }

        }


        


    }

    .about{
        width: 100%;
        height: 100vh;
    }

    .products{
        width: 100%;
        height: 100vh;
    }

    .service{
        width: 100%;
        height: 100vh;
    }

    .testimonials{
        width: 100%;
        height: 100vh;
    }

    .contact-us{
        width: 100%;
        height: 100vh;
    }

    .footer{
        width: 100%;
        height: 300px;
        background: $secondaryColor;
    }

}





@import './variables-materials';