$primaryBg: #030303;
$secondaryColor: #A8670E;
$accentColor: #FF8D05;
$fontColor: #E4E2EA;

$primaryfont: 'Work Sans', sans-serif;


@mixin primary-btn{
    background-color: $accentColor;
    color: $fontColor;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    padding: 15px 45px;
    width: 242px;
    height: 64px;
    cursor: pointer;

    &:hover{
        background-color: $secondaryColor;
    }
}

